NODE_ENV=development

PORT=3200

POSTGRES_DB=game-evoverse
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_db_password

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

DATABASE_URL="postgresql://admin:your_db_password@postgres:5432/game-evoverse?schema=public"

ADMIN_EMAIL=admin@evoverse.com
ADMIN_PASSWORD=your_admin_password
ADMIN_SECRET=add_admin_secret

FRONTEND_URL=http://localhost:3100

STRIPE_API_KEY=sk_test_...
STRIPE_RESTRICTED_KEY=rk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

REDIS_PORT=6379
REDIS_HOST='127.0.0.1'
REDIS_PASSWORD=add_password

GOOGLE_CLIENT_ID=your_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=google_client_secret
GOOGLE_CALLBACK_URL=https://api-dev.evoverse.dpdns.org/auth/google/callback
FRONTEND_OAUTH_REDIRECT=https://dev.evoverse.dpdns.org/auth/callback

DISCORD_CLIENT_ID=client_id
DISCORD_CLIENT_SECRET=discord_secret
DISCORD_CALLBACK_URL=https://api-dev.evoverse.dpdns.org/auth/discord/callback

RESEND_API_KEY=re_api_key
MAIL_FROM='Glowverse <no-reply@mail.evoverse.dpdns.org>'