PORT=3300

POSTGRES_DB=game-evoverse
POSTGRES_USER=admin
POSTGRES_PASSWORD=MEZ7sM8bJLYED9e7Bzvf

JWT_ACCESS_SECRET=VWbexrUATyRe6CxCUEepU4fbaU6SgAA@ii@2i%vMoFZT&KZQ
JWT_REFRESH_SECRET=MAg$kAm3k!snyVP8Ww2M!7LGBDcqg@Ru&u*3D4GrG@FhUDwW
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

DATABASE_URL="postgresql://admin:MEZ7sM8bJLYED9e7Bzvf@postgres:5432/game-evoverse?schema=public"

ADMIN_EMAIL=admin@evoverse.com
ADMIN_PASSWORD=fyQALf^534*A2